:root {
  --colorPrimary: #d19df0; //#567c8d;
  --colorSecondary: #000000a4; //#2f4156;
  --colorAccent: #624a70; //#f5edeb;
  --colorNeutral: #bcb3ec; //#c8d9e6;

  --colorText: #222222;
  --colorText2: #627472;
  --colorText3: #fff;

  --radius: 15px;

  --fontPrimary: 'Hello Bonia Serif'; // 'Horence';
  --fontSecondary: 'Quicksand';
}
